.content {
    display:inline-block;
    padding: -30px;
    width: 250px;
}
/*Mensaje de la clinica*/
h1 {
    color:#9370DB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.informacion {
    position: relative;
    left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 900px;
    padding:5px;
}
/*comentarios*/

.recomendacones {
    display:table;
}
.esperiencia {
    display: table-cell;
    padding: 20px;
    
}
.lol1 {
    background: #90EE90;
    width: 300px;
    position: relative;

}
.lol2 {

    background: #AFEEEE;
    width: 300px;
    position: relative;
    bottom: 20px;
}
.lol3 {
    background: #F5DEB3;
    width: 300px;
    position: relative;
}
.lol4 {
    background: #40E0D0;
    width: 300px;
    position: relative; 
}
